html{
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #000050;
}
#gridCalculator{
    border: solid black 2px;
    padding: 2%;
    height: 75vh;
    width: 50vh;
    text-align: center;
    align-items: center;
    align-content: center;
}  
#output{
    width: 48vh;
    height: 15vh;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #000030;
    color: floralwhite;
}
table{
    width: 40vh;
    height: 50vh;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-left: 20px;
}
button{
    width: 70px;
    height: 50px;
    color: floralwhite;
    background-color: #000030;
    font-size: large;
}
button:hover{
    font-size: x-large;
    color: #000030;
    background-color: floralwhite;
}